@import url(https://fonts.googleapis.com/css2);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

.active{
    text-decoration: underline;
    font-weight: bold;

}


.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

.navbar h1{
    font-size: 7vmin;
}

.nav-links {
    display: flex;
    align-items: center;
}

.mobile-menu{
    margin-top: 0px;
}

.nav-links li{
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(1.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color: white;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
    color: whitesmoke;
    font-size: 6vmin;
    font-family: 'Segoe UI';
}

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    color: #f7a9c9;
    font-size: 6vmin;
    font-family: 'Segoe UI';
    margin-top: 15px;
    margin-bottom: 50px;
}


.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* EVENTS*/

section{
    width: 80%;
    margin: 80px auto;

}
.title {
    text-align: center;
    font-size: 5vmin;
    color: #343435
}

.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col p{
    text-align: justify;
    text-justify: inter-word;
}
.events .row{
    margin-top: 50px;
}

.members .col {
    margin: 100px;
}

.members .row{
    margin: 20px;
}

h4{
    font-size: 3vmin;
    color: #484872;
    margin: 10px auto;
}

p{
    color: #484872;
    padding: 0px 40px;

}

.events .ctn{
    margin-top: 30px;
}

.events h1{
    font-family: Verdana;
    font-weight: bold;
}

.explore {
    width: 100%;
    height: 100vh;
    background-image: url('bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.explore h1{
    font-family: 'Lucida Sans';
}

.explore-content{
    width: 60%;
    padding: 80px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.destinations h4{
    font-size: 4vmin;
    color: #fc0505;
    font-family: Impact;
    font-weight: bolder;
}

.destinations p{
    font-size: 3vmin;
    color: black;
    font-family: Verdana;
    font-weight: bolder;
}

.explore-content h1{
    font-size: 7vmin;
    margin-top: 150px;
}

.explore-content .line{
    margin-bottom: 50px;
}

.explore-content p{
    color: white;
    font-family: Arial;
}

.explore-content .ctn {
    margin-top: 40px;
}

.content-col {
    width: 30%;
}

.image-col {
    width: 50%;
}
.tours {
    background-image: url(tours.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 120px;
    align-items: center;
}

.tours p{
    font-size: 3vmin;
    font-family:'Segoe UI';
    font-weight: bold;
}

.tours h2{
    font-size: 4vmin;
    font-family: 'Franklin Gothic Medium';
    font-weight: bolder;
    color: rgb(83, 81, 81);
}


.image-gallery img{
    max-width: 250px;
    margin: 10px;
}

.content-col h1{
    font-size: 3.5vmin;
    font-family: Verdana;
    color: #6a6acc;
    margin-left: 50px;
}

.content-col .line{
    margin-left: 170px;

}

.content-col p{
    padding: 0;
    margin-left: 50px;
    margin-top: 30px;
}

.members{
    background-color: #f7a9c9;
    width: 100%;
    height: 150%;
}


.members h1{
    font-size: 4vmin;
    font-family:'Trebuchet MS';
}

.members .line{
    margin-left: 5px;
}
.members h4{
    color: #343435;
}
.members p{
    margin-bottom: 20px;
}
.members .ctn {
    margin-top: 3px;
}


.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}

.footer p{
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}

.image img{
    width: 500px;
    height: 250px;
    margin: 10px;
}

.pic img{
    width: 1200px;
    height: 500px;
}
.members img{
    width: 300px;
}

.sample h1{
    font-family:'Franklin Gothic Medium';
    margin-left: 20px;
    color: #09a4ec;
    font-size: 5vmin;
}

h4 {
    color: rgb(131, 129, 129);
}

.sample .line{
    margin-left: 120px;
}

/*Mobile View*/
@media only screen and (max-width: 800px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
    }
    /*Events*/
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;

    }
    .col img{
        max-width: 90%;
    }
    /*explore*/
    .explore-content{
        width: 100%;
    }
    .tours .col{
        width: 100%;
    }
    .image-gallery{
        justify-content: center;
        align-items: center;
    }
    .tours .line{
        margin-left: 320px;
    }
    .footer {
        padding: 10px;
    }
}
/*animation*/
img{
    transition: transform .3s ease;
}

img:hover {
    transform: scale(1.1);
}

.ctn:hover{
    background: whitesmoke;
    color: #fc036b;
    box-shadow: 2px 2px 5px black;
}

ul li:hover{
    color: #fc036b;
}

body, html {
    overflow-x: hidden;
}